{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:compat/recommended",
    "plugin:vue/recommended",
    "plugin:jest/recommended",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "compat/compat": "warn",
    "no-console": "off",
    "no-debugger": "off",
    "jest/prefer-expect-assertions": [
      "warn",
      {
        "onlyFunctionsWithAsyncKeyword": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
